body {
    overflow-x: hidden;
}

.first {
    color: red;
}

#centered1 {
    position: absolute;
    font-size: 10vw;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#centered2 {
    position: absolute;
    font-size: 10vw;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
}

#centered3 {
    position: absolute;
    font-size: 10vw;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#signup {
    width: 60%;
    border-radius: 30px;
    margin-bottom: 10px;
}

#login {
    width: 60%;
    border-radius: 30px;
}

.well {
    background-color: #187fab;
}